## Import libraries

In [ ]:
from nba_api.stats.static import teams, players
from pandas import DataFrame
import pandas as pd

## Player Data in nba_api

In [6]:
players_df = DataFrame(players.get_players())
players_df.sample(15)

           id        full_name first_name  last_name  is_active
2685  1630266      Will Magnay       Will     Magnay      False
2975      397    Reggie Miller     Reggie     Miller      False
2129     2744     Al Jefferson         Al  Jefferson      False
4222     1434    Dragan Tarlac     Dragan     Tarlac      False
1971    77057     Tito Horford       Tito    Horford      False
1897     1848     Mike Higgins       Mike    Higgins      False
2297    77212  Noble Jorgensen      Noble  Jorgensen      False
4120    78237     Kevin Stacom      Kevin     Stacom      False
3768    78033        Bob Royer        Bob      Royer      False
1179    76625     Craig Dykema      Craig     Dykema      False
723       190   Duane Causwell      Duane   Causwell      False
3731    78007    Johnny Rogers     Johnny     Rogers      False
3578    78656  Blair Rasmussen      Blair  Rasmussen      False
2481    77329      Pete Lalich       Pete     Lalich      False
4566  1630570  Trendon Watford    Trendon    Watford       True

In [5]:
players_df.shape

(4900, 5)

### and teams

In [8]:
team_df = DataFrame(teams.get_teams())
team_df

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [11]:
type(players.get_players())

list

In [12]:
type(teams.get_teams())

list

## Getting data with nba_api

### 1. Find an nba_api endpoint

### 2. Import nba_api Endpoint in Python

In [16]:
from nba_api.stats.endpoints import commonplayerinfo

In [19]:
# Example usage
player_id = 2544  # LeBron James
player_info = commonplayerinfo.CommonPlayerInfo(player_id=player_id)
player_info_df = player_info.get_data_frames()[0]

player_info_df

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,2544,LeBron,James,LeBron James,"James, LeBron",L. James,lebron-james,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,...,lebron_james,2003,2024,N,Y,Y,2003,1,1,Y

In [20]:
player_info_df.columns

Index(['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST',
       'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG',
       'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT',
       'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS',
       'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME',
       'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE',
       'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG',
       'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG'],
      dtype='object')

In [21]:
from nba_api.stats.endpoints.teamyearbyyearstats import TeamYearByYearStats

In [22]:
# TeamYearByYearStats?

### 3. Calling the Endpoint

In [24]:
celtics_id = '1610612738'
celtics_data = TeamYearByYearStats(celtics_id)
celtics_data

### 4. Getting Data in Pandas

In [26]:
celtics_df = celtics_data.get_data_frames()[0]
celtics_df

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612738,Boston,Celtics,1946-47,60,22,38,0.367,0,5,...,0,0,0,470,1202,0,0,0,3605,11
1,1610612738,Boston,Celtics,1947-48,48,20,28,0.417,0,3,...,0,0,0,364,1065,0,0,0,3303,8
2,1610612738,Boston,Celtics,1948-49,60,25,35,0.417,0,5,...,0,0,0,1135,1382,0,0,0,4593,9
3,1610612738,Boston,Celtics,1949-50,68,22,46,0.324,0,6,...,0,0,0,1473,1644,0,0,0,5420,7
4,1610612738,Boston,Celtics,1950-51,69,39,30,0.565,0,2,...,0,0,0,1579,1881,0,0,0,5881,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,1610612738,Boston,Celtics,2019-20,72,48,24,0.667,3,2,...,768,2549,3317,1655,1553,595,995,406,8183,10
74,1610612738,Boston,Celtics,2020-21,72,36,36,0.500,0,0,...,765,2421,3186,1689,1471,556,1012,383,8109,16
75,1610612738,Boston,Celtics,2021-22,82,51,31,0.622,2,1,...,863,2915,3778,2036,1521,591,1118,478,9164,12
76,1610612738,Boston,Celtics,2022-23,82,57,25,0.695,2,1,...,796,2921,3717,2186,1542,521,1095,430,9671,4
77,1610612738,Boston,Celtics,2023-24,82,64,18,0.780,1,1,...,876,2923,3799,2207,1326,557,979,538,9887,2

## Play by Play Example

### 1. Find an nba_api endpoint

### 2. Import nba_api Endpoint in Python

In [27]:
from nba_api.stats.endpoints.playbyplayv2 import PlayByPlayV2

In [30]:
#PlayByPlayV2?

### 3. Calling the EndPoint

In [32]:
game_id = '0021700807'
pbp_data = PlayByPlayV2(game_id)
pbp_data

### 4. Getting Data in Pandas

In [35]:
pbp_df = pbp_data.get_data_frames()[0]
pbp_df.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION,VIDEO_AVAILABLE_FLAG
0,0021700807,2,12,0,1,8:11 PM,12:00,None,Start of 1st Period (8:11 PM EST),None,...,None,None,0,0,None,NaN,None,None,None,0
1,0021700807,4,10,0,1,8:11 PM,12:00,Jump Ball Thompson vs. Towns: Tip to Gibson,None,None,...,Timberwolves,MIN,5,201959,Taj Gibson,1.610613e+09,Minnesota,Timberwolves,MIN,1
2,0021700807,7,2,1,1,8:11 PM,11:43,None,None,MISS Wiggins 27' 3PT Jump Shot,...,None,None,0,0,None,NaN,None,None,None,1
3,0021700807,8,4,0,1,8:11 PM,11:33,None,None,Gibson REBOUND (Off:1 Def:0),...,None,None,0,0,None,NaN,None,None,None,1
4,0021700807,9,2,97,1,8:11 PM,11:33,None,None,MISS Gibson 1' Tip Layup Shot,...,None,None,0,0,None,NaN,None,None,None,1

In [36]:
pbp_df[['HOMEDESCRIPTION', 'VISITORDESCRIPTION']].head(10)

                               HOMEDESCRIPTION              VISITORDESCRIPTION
0                                         None                            None
1  Jump Ball Thompson vs. Towns: Tip to Gibson                            None
2                                         None  MISS Wiggins 27' 3PT Jump Shot
3                                         None    Gibson REBOUND (Off:1 Def:0)
4                                         None   MISS Gibson 1' Tip Layup Shot
5                 Thomas REBOUND (Off:0 Def:1)                            None
6           MISS Thompson 1' Cutting Dunk Shot                            None
7                                         None   Wiggins REBOUND (Off:0 Def:1)
8                                         None        MISS Gibson 8' Jump Shot
9                  James REBOUND (Off:0 Def:1)                            None

### for mutiple games

In [37]:
from nba_api.stats.endpoints.teamgamelog import TeamGameLog

In [39]:
# TeamGameLog?

In [41]:
team_df.query("abbreviation == 'GSW'")[['id', 'full_name']]

           id              full_name
7  1610612744  Golden State Warriors

In [42]:
warriors_id = '1610612744'

In [44]:
gsw_log = TeamGameLog(warriors_id).get_data_frames()[0]
gsw_log.head()

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612744,0022301198,"APR 14, 2024",GSW vs. UTA,W,46,36,0.561,240,45,...,0.826,12,30,42,35,10,6,9,14,123
1,1610612744,0022301182,"APR 12, 2024",GSW vs. NOP,L,45,36,0.556,240,40,...,0.762,11,42,53,27,6,5,16,15,109
2,1610612744,0022301169,"APR 11, 2024",GSW @ POR,W,45,35,0.563,240,36,...,0.800,10,36,46,24,8,13,16,18,100
3,1610612744,0022301155,"APR 09, 2024",GSW @ LAL,W,44,35,0.557,240,47,...,0.667,4,38,42,37,3,12,15,17,134
4,1610612744,0022301142,"APR 07, 2024",GSW vs. UTA,W,43,35,0.551,240,49,...,1.000,11,36,47,32,9,8,13,19,118

In [45]:
gsw_game_ids = list(gsw_log['Game_ID'].head())
gsw_game_ids

['0022301198', '0022301182', '0022301169', '0022301155', '0022301142']

In [49]:
gsw_pbp_df1 = pd.concat([
    PlayByPlayV2(x).get_data_frames()[0] for x in gsw_game_ids
], ignore_index=True)

gsw_pbp_df1[['HOMEDESCRIPTION', 'VISITORDESCRIPTION']].head(10)

,HOMEDESCRIPTION,VISITORDESCRIPTION
0,None,None
1,Jump Ball Jackson-Davis vs. Yurtseven: Tip to ...,None
2,None,Yurtseven 5' Hook Shot (2 PTS) (Hendricks 1 AST)
3,Wiggins 21' Step Back Jump Shot (2 PTS) (Paul ...,None
4,None,Yurtseven Double Dribble Turnover (P1.T1)
5,MISS Wiggins 18' Pullup Jump Shot,None
6,None,Yurtseven REBOUND (Off:0 Def:1)
7,None,George 3' Driving Layup (2 PTS)
8,MISS Thompson 28' 3PT Jump Shot,None
9,None,Samanic REBOUND (Off:0 Def:1)

In [50]:
def get_pbp_data(game_id):
    try:
        pbp_df = PlayByPlayV2(game_id).get_data_frames()[0]
    except Exception as _:
        pbp_df = DataFrame()
        
    return pbp_df

In [52]:
get_pbp_data('0022301155')[['HOMEDESCRIPTION', 'VISITORDESCRIPTION']].head(10)

,HOMEDESCRIPTION,VISITORDESCRIPTION
0,None,None
1,Jump Ball Hayes vs. Jackson-Davis: Tip to James,None
2,MISS Russell 26' 3PT Jump Shot,None
3,None,Green REBOUND (Off:0 Def:1)
4,None,Curry 14' Driving Floating Jump Shot (2 PTS) (...
5,MISS Reaves 3' Driving Layup,None
6,None,Curry REBOUND (Off:0 Def:1)
7,Hayes STEAL (1 STL),Green Bad Pass Turnover (P1.T1)
8,MISS James 16' Jump Shot,None
9,None,Jackson-Davis REBOUND (Off:0 Def:1)

In [53]:
get_pbp_data('XXXXXXXXXX')

Empty DataFrame
Columns: []
Index: []

In [54]:
gsw_game_ids = gsw_game_ids + ['XXXXXXXXXX']

In [55]:
gsw_game_ids

['0022301198',
 '0022301182',
 '0022301169',
 '0022301155',
 '0022301142',
 'XXXXXXXXXX']

In [56]:
pbp_df_all = DataFrame()
bad_game_ids = []
for gid in gsw_game_ids:
    print(gid)
    try:
        working_df = PlayByPlayV2(gid).get_data_frames()[0]
    except Exception as _:
        bad_game_ids = bad_game_ids + [gid]
        continue
        
    pbp_df_all = pd.concat([pbp_df_all, working_df], ignore_index=True)

0022301198
0022301182
0022301169
0022301155
0022301142
XXXXXXXXXX

In [57]:
pbp_df_all['GAME_ID'].value_counts()

GAME_ID
0022301155    451
0022301182    447
0022301169    444
0022301198    443
0022301142    416
Name: count, dtype: int64

In [58]:
bad_game_ids

['XXXXXXXXXX']

In [61]:
import sqlite3
from os import path

In [62]:
# handle directories
DATA_DIR = r'C:\Users\AButa\Downloads\code-basketball-files-main\data'

# create connection
conn = sqlite3.connect(path.join(DATA_DIR, 'basketball-data.sqlite'))

In [64]:
# write it to sql
players_df.to_sql('player', conn, index=False, if_exists='replace')
celtics_df.to_sql('celtics', conn, index=False, if_exists='replace')
gsw_pbp_df1.to_sql('gsw_pbp', conn, index=False, if_exists='replace')
pbp_df_all.to_sql('pbp_all', conn, index=False, if_exists='replace')

2201

In [66]:
df = pd.read_sql(
    """
    SELECT HOMEDESCRIPTION, VISITORDESCRIPTION
    FROM pbp_all
    """, conn)

df.head()

,HOMEDESCRIPTION,VISITORDESCRIPTION
0,None,None
1,Jump Ball Jackson-Davis vs. Yurtseven: Tip to ...,None
2,None,Yurtseven 5' Hook Shot (2 PTS) (Hendricks 1 AST)
3,Wiggins 21' Step Back Jump Shot (2 PTS) (Paul ...,None
4,None,Yurtseven Double Dribble Turnover (P1.T1)